{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="top">
    <h2>글쓰기 페이지</h2>
    </div>
    <form action="/new" method="post">
        {% csrf_token %}
        <div>
            <select name="category">
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <div>글 제목</div>
            <input type="text" name="title" />
        </div>
        <div>
            <div>글 내용</div>
            <textarea name="content" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">작성 완료</button>
    </form>
</body>
</html>